@use "variables" as v;
@use "mixins" as m;
@use "placeholders";

.burger {
  position: relative;
  display: none;
  &__btn {
    @include m.d-flex(start, end, nowrap, column, 0, 5px);
    width: 18px;

    &-line {
      height: 3px;
      width: 18px;
      background-color: #c4c4c4;
      z-index: 2;
    }

    &-line--short {
      width: 13px;
    }
  }

  &__menu {
    height: 90vh;
    width: 70vw;
    padding: 30px;
    position: absolute;
    right: -30px;
    top: 0;
    z-index: -1;
    background-color: v.$base;
    @include m.d-flex(space-between, start, nowrap, column, 0, 40px);
    transition: transform .3s;

    transform: translateX(200%);


    &-item {
      @include m.d-flex(center, center, nowrap, row, 0, 0);
      padding: 15px;
      height: 20%;

      transition: all .4s;
      .burger__menu-link {
        @include m.d-flex(center, center);
        @include m.font(16px, 400, v.$text);
        transition: all 0.3s linear;

        &:hover {
          text-decoration: underline;
        }
      }

      &.menu-active {
        background-color: v.$primary;
      }
    }

  }

  @media (max-width: v.$media_sm) {
    display: block;

    .burger__menu.active {
      transform: translateX(0);
      
      &::before {
        content: '';
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        right: 0;
        background-color: v.$base;
        opacity: 0.7;
        z-index: -2;
      }
    }
  }
}