$base: #000000;
$level_1: #181823;
$light_grey: #DEECF9;
$dark_grey: #C7E0F4;
$text: #FFF;
$primary: #5221E6;
$green_accent: #3CC74E;
$pink_accent: #E95D90;
$peach_accent: #FFF3E4;
$violet_accent: #FBE4FF;


$media_xxl: 1400px;
$media_xl: 1200px;
$media_lg: 992px;
$media_md: 768px;
$media_sm: 576px;
$media_min: 428px;
